// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@import "./variables.scss";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    &.is-transparent {
      opacity: 0.3;
    }
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

hr.small {
  width: 65%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section.is-small {
  padding: 1.25rem;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.nuxt-content {
  p {
    line-height: 1.75rem;
  }
  img {
    padding: 1.5rem 0rem;
  }
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
